<!DOCTYPE html>
<html lang="en">
<head>

    <title>Happy System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto+Mono&display=swap" rel="stylesheet">

    <style>
        #title{
            font-family: 'Montserrat', sans-serif;
            font-size: 28px;
            color: #000000;
        }
        #sub-title{
            font-family: 'Roboto Mono', monospace;
            font-size: 14px;
        }
        #text{
            font-family: 'Roboto Mono', monospace;
        }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script>
        function startTime() {
            var today = new Date();
            var h = today.getHours();
            var m = today.getMinutes();
            var s = today.getSeconds();
            m = checkTime(m);
            s = checkTime(s);
            document.getElementById('time').innerHTML =
                h + ":" + m + ":" + s;
            var t = setTimeout(startTime, 500);
        }
        function checkTime(i) {
            if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
            return i;
        }
    </script>

    <script type="text/javascript">

          var cpu_percent = 77.5;
          google.charts.load('current', {'packages':['gauge']});
          google.charts.setOnLoadCallback(drawChart);

          function drawChart() {

              var data = google.visualization.arrayToDataTable([
                  ['Label', 'Value'],
                  ['CPU', cpu_percent]
                ]);

              var options = {
                  width: 400, height: 200,
                  redFrom: 90, redTo: 100,
                  yellowFrom:75, yellowTo: 90,
                  minorTicks: 5
                };

              var chart = new google.visualization.Gauge(document.getElementById('dashboard1'));

              chart.draw(data, options);


          }
    </script>


</head>
<body onload="startTime()">
    <center>
        <div class="card" style="width: 80%; margin-top: 20px; text-align: center">
            <div class="card-body">
                <span id="title">Happy System</span><br>
                <span id="sub-title">"<span id="time"></span>"</span>
            </div>
        </div>
        <div class="card" style="width: 80%; margin-top: 20px; text-align: center">
            <div class="card-body">

                <div class="container">

                    <!-- row 1 -->
                    <div class="row">
                        <div class="col-sm">

                            <!-- content box -->
                            <div class="card" style="text-align: left">
                                <div class="card-header">
                                    <span id="text">Registered targets</span>
                                </div>
                                <div class="card-body">
                                    {% for i in result.hosts %}
                                    <span id="text">
                                        <form method="get" action="http://localhost:5000/getservermetrics">
                                            <button style="width: 100%" class="btn btn-dark" name="target" type="submit" value="{{ i[0] }}">{{ i[1] }} ({{ i[0] }})</button>
                                        </form>
                                    </span>
                                    <br>
                                    {% endfor %}
                                </div>
                                <div class="card-footer" style="text-align: right">
                                    <a href="http://localhost:5000/managetargets" class="btn btn-outline-dark btn-sm">Manage Targets</a>
                                </div>
                            </div>

                        </div>
                        <div class="col-sm">
                            <!-- content box -->
                            <div class="card" style="text-align: left">
                                <div class="card-header">
                                    <span id="text">Alerts</span>
                                </div>
                                <div class="card-body">
                                    {% for i in result.alerts %}
                                        <span id="text">
                                            <span class="badge badge-secondary">{{i}}</span>
                                        </span>
                                    {% endfor %}

                                </div>
                                <div class="card-footer" style="text-align: right">
                                    <a href="http://localhost:5000/managealerts" class="btn btn-outline-dark btn-sm">Manage Alerts</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <!-- content box -->
                            <div class="card" style="text-align: left">
                                <div class="card-header">
                                    <span id="text">Groups</span>
                                </div>
                                <div class="card-body">
                                    {% for i in result.groups %}
                                        <span id="text">{{ i }}</span><br>
                                    {% endfor %}
                                </div>
                                <div class="card-footer" style="text-align: right">
                                    <a href="http://localhost:5000/managegroups" class="btn btn-outline-dark btn-sm">Manage Groups</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </center>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>